Repository userbotindo/Anjani, pull requests merged in 2022-11, with the labels that each got.

#183 feat(welcome): allow set welcome and goodbye as command argument
  anjani/language/en.yml
  anjani/language/id.yml
  anjani/plugins/welcome.py
Labels: type: plugin🧩

#181 feat(Canonical): save admin chat into database
  anjani/plugins/canonical.py
Labels: type: plugin🧩

#189 change lang. start & help id.yml
  anjani/language/id.yml
Labels: Locale📖

#195 test: add utils unit test
  .github/workflows/run-test.yml
  Makefile
  anjani/util/converter.py
  poetry.lock
  pyproject.toml
  test/__init__.py
  test/test_base_converter.py
  test/test_language.py
  test/test_tg.py
Labels: test 🧪
