Repository userbotindo/Anjani, pull requests merged in 2023-02, with the labels that each got.

#214 Add media support to filter
  anjani/language/en.yml
  anjani/language/id.yml
  anjani/plugins/filters.py
Labels: type: plugin🧩

#215 Revamp user 'Reputation Point' utility
  anjani/language/en.yml
  anjani/language/id.yml
  anjani/plugins/spam_prediction.py
Labels: type: plugin🧩

#237 fix(filter|notes): handle unsuported character
  anjani/language/en.yml
  anjani/language/id.yml
  anjani/plugins/filters.py
  anjani/plugins/notes.py
Labels: type: bug, scope: plugin

#240 Add cache wrapper to method with high traffic
  anjani/core/telegram_bot.py
  anjani/plugins/lockings.py
  anjani/plugins/spam_prediction.py
  poetry.lock
  pyproject.toml
Labels: feature: enhancement, type: dependencies, scope: general

#238 build: move private function to internal package
  Dockerfile
  anjani/plugins/spam_prediction.py
  anjani/plugins/spam_shield.py
  anjani/plugins/users.py
  anjani/util/misc.py
  anjani/util/types.py
  entrypoint.sh
  poetry.lock
  pyproject.toml
Labels: feature: enhancement, type: dependencies, ENV Changes

#242 feat(restriction): add sban command
  anjani/language/en.yml
  anjani/language/id.yml
  anjani/plugins/restriction.py
Labels: feature: addition, scope: plugin
