Repository userbotindo/Anjani, pull requests merged in 2023-07, with the labels that each got.

#335 fix(notes): breaking button for media
  anjani/plugins/notes.py
  anjani/util/tg.py
Labels: type: bug, scope: general

#334 fix: change session id hash to bot token
  .dockerignore
  anjani/core/event_dispatcher.py
  anjani/core/sqlite_storage.py
  anjani/core/telegram_bot.py
  anjani/plugins/main.py
  poetry.lock
  pyproject.toml
Labels: type: bug, scope: core

#340 chore: bump userbotindo-kit to v0.1.3
  anjani/plugins/canonical.py
  anjani/util/types.py
  docker-compose.yml
  preinstall.sh
Labels: type: dependencies, scope: internal

#343 fix(federation): remove bot owner check on leavefed
  anjani/plugins/federation.py
Labels: type: bug, scope: plugin

#347 fix(welcome): handle bulk new chat member
  anjani/plugins/welcome.py
Labels: type: bug, scope: plugin

#346 fix(main): keep updating session state
  anjani/plugins/main.py
Labels: type: bug, scope: plugin

#345 chore: move internal plugins
  anjani/core/plugin_extenter.py
  anjani/internal_plugins/__init__.py
  anjani/internal_plugins/canonical.py
  anjani/internal_plugins/spam_prediction.py
Labels: scope: plugin, ENV Changes, scope: internal

#352 fix(user): handle case when first_name is None
  anjani/plugins/users.py
Labels: type: bug, scope: plugin

#355 build: enhance docker image size
  Dockerfile
Labels: type: maintenance
