Repository userbotindo/Anjani, pull requests merged in 2023-03, with the labels that each got.

#246 refactor(tg): minor code improvement
  anjani/util/tg.py
Labels: scope: general

#249 refactor(idle): improve idle
  anjani/core/anjani_bot.py
  anjani/core/telegram_bot.py
  anjani/main.py
Labels: type: bug, scope: core

#250 chore(workflow): run bot until complete
  .github/workflows/release.yml
  .github/workflows/run-test.yml
  anjani/core/telegram_bot.py
  anjani/main.py
Labels: type: chore

#257 build(Dockerfile): Faster build time
  Dockerfile
  anjani/core/telegram_bot.py
Labels: scope: general, type: chore

#262 fix(util): button parser TypeError when parsing non text message
  anjani/util/tg.py
Labels: type: bug, scope: general

#263 fix(anjani): signal handler on windows
  anjani/core/telegram_bot.py
Labels: type: bug, scope: core

#261 feat: add rate limiter to commands
  anjani/core/command_dispatcher.py
  anjani/util/__init__.py
  anjani/util/cache_limiter.py
  poetry.lock
  pyproject.toml
Labels: feature: addition, scope: core

#260 fix(spam_prediction): FloodError on bulk updating vote
  anjani/plugins/spam_prediction.py
  anjani/util/types.py
Labels: type: bug, scope: plugin

#265 chore(event_dispatcher): format dispatcher error log data
  anjani/core/event_dispatcher.py
Labels: scope: core, type: chore

#268 fix(SpamPrediction): remove vote count on button
  anjani/plugins/spam_prediction.py
Labels: feature: enhancement, scope: plugin

#267 build(deps-internal): bump userbotindo_kit from 0.0.5 to 0.1.0-beta.6
  entrypoint.sh
Labels: type: dependencies

#270 refactor(cache): use aiocache and remove async-cache
  anjani/core/command_dispatcher.py
  anjani/core/telegram_bot.py
  anjani/plugins/lockings.py
  anjani/plugins/spam_prediction.py
  anjani/util/cache_limiter.py
  poetry.lock
  pyproject.toml
Labels: scope: core, type: chore

#269 fix(SpamPrediction): uninformative query answer text
  anjani/plugins/spam_prediction.py
Labels: type: bug, scope: plugin

#271 build(deps-internal): bump userbotindo_kit from 0.1.0-beta.6 to 0.1.0
  entrypoint.sh
Labels: type: dependencies
